
body{
	background: #7CB9E8;
}
form{
	background:	#a2cff2;
}

#Register{
	color: #3f3687
}

.budo {
	text-decoration: underline blue;
}

body {
	text-align: center;
}

h1 {
	font-family:'Sedgwick Ave';
}

<style>
@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave');
</style>
 





#9932CC
#9400D3
#93c4ea